.about
  &__image
    margin-left: 22px
    position: relative
    z-index: 10
    img
      max-width: 100%

  .btn-wrap
    bottom: -40px
  .about__more
    text-transform: uppercase
    color: $accent-color
    font-size: rem(17px)
