.mainheader
  background-color: #fff
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    position: relative

.logo
  img
    max-height: 70px

.top-line
  background-color: #e0e1e0
  padding: rem(6px) 0 rem(7px)
  font-size: rem(13px)
  &__left
    float: left
  &__right
    float: right
.contacts
  &__item
    &:first-child
      margin-right: rem(20px)

  +phones-max
    .contacts__link-text
      display: none
