.main-nav
  margin: 0
  padding: 0
  // transition: all 200ms
  &__item
    list-style-type: none
    font-size: rem(15px)
    font-weight: 400
    font-family: 'pt-regular', sans-serif
    text-transform: uppercase
    display: inline-block
  &__link
    display: block
    line-height: 1
    padding: 10px 15px
    color: #4c4c4c
    &:hover
      color: $accent-color
      text-decoration: none

  +tablets-max
    position: absolute
    background-color: rgba(#fff, .9)
    top: 100%
    left: 0
    width: 100%
    z-index: 10
    display: none
    width: 100%
    .main-nav__item
      display: block
      text-align: center

.pages-nav
  &__item
    display: inline-block
    +size(35px)
    background-color: #dad9d9
    line-height: 35px
    transition: all 200ms ease
    &:hover
      background-color: $accent-color
    &--active
      border-radius: 50%
      background-color: $accent-color
    a
      display: block
      height: 100%
      text-decoration: none
      color: #fff
