.team
  padding: 0
  .row
    position: relative

  &__photo
    position: absolute
    bottom: 0
    left: 0
    width: 200px
    height: 345px
    background-size: cover
    z-index: 5
    transition: all 200ms

  &__caption
    font-family: 'impact', sans-serif
    text-transform: uppercase
    white-space: nowrap
    font-size: 4rem
    text-align: center
    color: #f0f0f0
    line-height: 1
  &__info
    background-color: #e7e6e6
    padding-top: rem(16px)
    &-wrap
      display: none
      &.current
        display: block

  &__name
    font-family: 'pt-bold', sans-serif
    color: #313231
    font-size: rem(20px)
    line-height: 1
  &__job
    font-family: 'pt-bolditalic', sans-serif
    font-size: rem(13px)
    color: $accent-color
  &__desc
    line-height: 21px
    min-height: 90px

  &__contacts-wrap
    text-align: right
  &__contacts
    font-family: 'pt-italic', sans-serif
    font-size: rem(13px)
    color: $accent-color
    span
      font-family: 'pt-bolditalic', sans-serif
    &:hover, &:focus
      color: $accent-color
      text-decoration: none
    &:first-child
      margin-right: rem(15px)

  &__members
    +clearfix
  &__member
    float: left
    margin-right: 2px
    a
      display: block
      +size(65px)
      overflow: hidden
      position: relative
      &::after
        content: ''
        +coverdiv
        background-color: rgba(#000, 0.6)
        transition: all 200ms
      &:hover, &.active
        &::after
          background-color: transparent
      img
        width: 100%
        height: auto
