extends ../layouts/main_layout.jade

block title
  title Main Page
  
prepend content
  .page
    include ../common/about.jade
    include ../common/portfolio.jade
    include ../common/services.jade

    p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sequi deserunt eum? Libero voluptate velit minus natus non, deleniti dignissimos consequatur, blanditiis ullam. Libero quidem, temporibus aperiam aut a distinctio!
    div Esse non minus impedit, quis assumenda, praesentium illo optio cupiditate accusamus asperiores, delectus! Laborum voluptatem a quae dicta veniam excepturi, optio eaque nobis deleniti ducimus. Nulla rem, quos excepturi ducimus!
    div Molestiae veniam eum quo eos quod repellendus deserunt magnam quas vel. Officiis molestias magni at sequi repellat alias, ut cumque quisquam nemo doloribus aliquid architecto pariatur, dolorem harum non debitis.
    div Provident quisquam exercitationem ratione doloremque, magni debitis, odit assumenda iure sed, id impedit eius voluptates neque sit rerum quaerat? Veniam labore fuga sapiente iste voluptatibus rerum minima! Optio ipsam, sint.
    div Neque quas repellat doloribus sapiente eos alias suscipit, consectetur nisi incidunt obcaecati eius cum magnam accusantium debitis quidem ipsam distinctio magni nobis nulla! Ad similique labore explicabo eaque error, atque!
    div Quasi possimus iusto tenetur? Quasi accusantium a, dicta magni. Quidem, beatae voluptates repudiandae tempora nemo obcaecati minus perferendis, in accusamus, odio ducimus illo ipsa blanditiis nesciunt optio atque quam quas.
    div Atque iusto accusantium obcaecati voluptates et velit eaque quibusdam, incidunt neque consectetur officiis in voluptatibus eum necessitatibus harum cum quidem sed numquam repellendus blanditiis ea ab libero debitis quae. Modi.
    div Exercitationem aspernatur non dolor fugit nemo molestias voluptate corporis eveniet accusamus voluptates, repellendus est adipisci tempora dignissimos aliquam unde distinctio dicta eos! Repudiandae, odit aspernatur provident cum asperiores tempore facilis.
    div Obcaecati eligendi accusantium quisquam enim id tenetur, tempora, deserunt autem. Facilis saepe ratione nemo, mollitia neque tempore deleniti eius sequi, consequuntur suscipit quis. Asperiores vitae ipsum animi quibusdam beatae suscipit.
    div Quam optio ut necessitatibus, esse, veritatis nulla minus, enim dicta iure voluptatem, voluptatum ipsam doloremque ratione! Consequuntur quo illum maiores dolorem tenetur ad eligendi illo. Earum laboriosam, maxime numquam maiores?
    div Dignissimos vero est neque totam, repudiandae unde quis, nostrum quia numquam perferendis illum minus? Voluptatum placeat enim, quas expedita a, dolore ad quia nobis optio, deleniti necessitatibus, quo! Eius, libero.
    div Quasi ad quam temporibus aliquid quibusdam explicabo eum inventore, cumque quia ea. Quas aut, iusto omnis nesciunt corporis veniam delectus, maxime error quis quidem similique? Officiis architecto aperiam iure animi!
    div Delectus quae dicta facere qui fugit aspernatur ad eveniet similique amet dolores dignissimos, itaque harum, odit fugiat maiores, officiis ipsa illum natus. Cumque ipsum debitis quaerat quo beatae, cum ad.
    div Aspernatur laborum quod illo aperiam. Impedit possimus asperiores quod pariatur nesciunt nam, accusamus dolore consequuntur iusto unde, hic quae dolor itaque rerum minima libero neque facilis incidunt aliquam. Aperiam, reiciendis.
    div Provident necessitatibus suscipit, dicta. Mollitia eius nesciunt nostrum, blanditiis ea qui non dicta. Cum provident reiciendis impedit rerum facere quia corporis odit est, nostrum tempora, deleniti voluptas ratione neque natus.
    div Consectetur dolore officiis iure soluta optio, veniam in, sequi expedita reprehenderit molestias nesciunt a cupiditate doloremque. Deleniti aperiam amet, possimus mollitia, sint ipsum, soluta neque, ratione corrupti praesentium harum odio.
    div Fugit neque dignissimos, optio quas itaque, deleniti voluptatum sequi? Sed asperiores ipsa libero nostrum aliquam inventore eveniet voluptatibus quam perferendis quasi mollitia cupiditate officia earum doloribus ad, ea excepturi omnis?
    div Quo, aut, commodi ratione cumque veritatis impedit, quae repellendus consequatur, eaque sapiente nihil. Eligendi repudiandae ex voluptas sit ipsum, consectetur corporis quo earum? Placeat quia provident, asperiores iure vitae magni.
    div Ducimus beatae, dolore impedit tempore iste voluptatem saepe atque consequatur id velit perferendis, temporibus necessitatibus obcaecati vero eius a iusto, culpa ipsam ipsum dolores, error quisquam laborum fugiat reiciendis. Optio.
    div Saepe quidem possimus porro aspernatur, ducimus ipsum excepturi nemo impedit accusamus id debitis laborum dolorem labore asperiores eum doloribus, neque animi nostrum numquam recusandae quo aperiam! Delectus, assumenda labore iure?
