extends ../layouts/main_layout.jade

block title
  title S.TE.P.
  
prepend content
  .page
    include ../common/about.jade
    include ../common/portfolio.jade
    include ../common/services.jade
    include ../common/team.jade
    include ../common/certs.jade
