extends ../layouts/secondary_layout.jade

block title
  title Settori di attività
  
prepend content
  .page.page__info
    section.about
      .container
        .row
          .col-sm-5.hidden-xs
            h2.section-title S.TE.P.
            .about__image
              img(src="img/foto/2.jpg", alt="about")
          .col-sm-7
            h2.post-title Settori di attività
            p Il coordinamento generale delle attività produttive è curato personalmente dai soci proprietari Ing. Vito Aiello, presso la sede operativa di Verona e Ing. Claudio Zifferero, presso la sede operativa di Roma.

            p Il coinvolgimento diretto del personale operativo e la sua responsabilizzazione nella gestione delle singole commesse garantisce elevata qualità e affidabilità del prodotto, semplicità di procedure, estrema flessibilità e rapidità di esecuzione.

            p Si rende concreta la capacità di svolgere direttamente gli incarichi ricevuti, senza necessità di ricorrere a forme di ulteriori affidamenti, ovvia eccezion fatta per consulenze di tipo specialistico, per le quali è disponibile una vasta gamma di figure di riferimento, di elevato livello scientifico e professionale.

            p Le attrezzature informatiche sono moderne e funzionali, e si è in grado di lavorare secondo i più avanzati standard di qualità, nel pieno rispetto delle normative tecniche vigenti.

            p La Società è consulente qualificata e convenzionata con Snamprogetti SpA per le problematiche inerenti la progettazione ferroviaria e stradale per le tratte ferroviarie ad Alta Velocità Milano Bologna e Milano-Verona, e con Fiat Engineering Spa, ora Maire Engineering, per la tratta Torino-Milano. Ha svolto numerosi incarichi relativi a tutte le fasi progettuali: fattibilità, preliminari, definitivi, esecutivi e costruttivi.

            p Per le progettazioni relative all’Alta Velocità si è ottenuto il gradimento da parte di Italferr necessario per potere sviluppare i Progetti Costruttivi.

            p Ha inoltre ottenuto nel 2004 l'inserimento nell'albo fornitori di RFI per la categoria dei prestatori di servizi di ingegneria e da parte di CSA la certificazione del sistema di qualità secondo la ISO 9001:2000 per quanto riguarda la "Progettazione e servizi di ingegneria per opere di ingegneria civile pubblica e privata".

    section.services.services--full#settori
      .container
        .row
          .col-sm-4
            ul.services__list
              li.services__item.services__item--current
                a(href="#").services__link
                  +icon('road-with-broken-line')
                  span Settore autostradale-stradale
              li.services__item
                a(href="#").services__link
                  +icon('train')
                  span Settore ferroviario (incluse linee metropolitane)
              li.services__item
                a(href="#").services__link
                  +icon('tube')
                  span Ingegneria idraulica
              li.services__item
                a(href="#").services__link
                  +icon('crane')
                  span Strutture e Architettura
              li.services__item
                a(href="#").services__link
                  +icon('icon')
                  span Informatica applicata
            

          .col-sm-8
            .services__text.services__text--current 
              ul
                li Studi generali di viabilità.
                li Tracciamento assi stradali e svincoli.
                li Opere civili del corpo stradale.
                li Opere d’arte maggiori (gallerie naturali e artificiali, viadotti, cavalcavia, sottovia, attraversamenti etc.).
                li Opere d’arte minori e di completamento (manufatti di attraversamento idraulico, strutture di sostegno, interventi di stabilizzazione di fronti franosi etc.).
                li Opere di inserimento e di recupero ambientale (opere a verde, opere per il contenimento del rumore, opere di limitazione dell’impatto visuale).
                li Impiantistica (illuminazione, ventilazione, allarme, telecontrollo).
                li Segnaletica e semaforizzazione.
                li Studi di traffico.
                li Pianificazione urbana del traffico.
                li Pianificazione dei parcheggi e della sosta. 
            .services__text 
              ul
                li Piani di tracciamento e armamento in linea e in stazione.
                li Opere civili per impianti tecnologici (segnalamento, elettrificazione, telefonia, blocco automatico etc.). 
                li Opere civili del corpo stradale ferroviario.
                li Opere di regolarizzazione delle interferenze idrauliche e viabili.
                li Opere d’arte maggiori (gallerie naturali e artificiali, ponti, viadotti).
                li Strutture spinte.
                li Fabbricati e manufatti di stazione (fabbricati viaggiatori, servizi, sottopassaggi pedonali) completi dei relativi impianti civili.
                li Segnaletica e arredo di stazione.
                li Piani di drenaggio.
                li Studio delle fasi esecutive con mantenimento dell’esercizio.
                li Opere civili di depositi e sottostazioni elettriche.
                li Parcheggi di interscambio e stazioni intermodali. 
            .services__text
              ul
                li Redazione di progetti di opere di captazione, adduzione e distribuzione di risorse idriche.
                li Progettazione di impianti di sollevamento, collettamento, trattamento, riciclo e riuso di acque.
                li Progettazione di opere di ritenuta o derivazione di acqua (dighe, traverse, gallerie, canali) per l’approvvigionamento idrico o la produzione idroelettrica.
                li Studi idrologici e idrogeologici.
                li Idraulica fluviale.
                li Progettazione di opere di difesa idraulica.
                li Studi e tecnologie per il miglioramento dell’efficienza degli impianti idrici (bilanci idrici, riduzione delle perdite d’acqua, mappatura delle reti, modelli matematici). 
            .services__text 
              ul
                li Calcoli strutturali e modellazione con metodi agli elementi finiti di qualsiasi tipo di struttura in cemento armato, in acciaio, in c.a.p. e in legno. 
                li Progettazione architettonica di insediamenti urbani, lottizzazioni ed inserimento di grandi infrastrutture nel tessuto circostante. 
                li Recupero edilizio e restauri di edifici di importanza storica. 
            .services__text 
              ul
                li Messa a punto di sistemi integrati a indirizzo scientifico specialistico.
                li Strutturazione di banche dati, sistemi informatici di monitoraggio, controllo, gestione, incluso l’addestramento all’uso del personale del Cliente. 
                li Consulenza sulla scelta e sull’impiego di pacchetti operativi (progettazione, contabilità tecnica, gestione). 
          
