extends ../layouts/secondary_layout.jade

block title
  title Settori di attività
  
prepend content
  .page.page__info
    section.about
      .container
        .row
          .col-sm-5.hidden-xs
            h2.section-title S.TE.P.
            .about__image
              img(src="img/foto/2.jpg", alt="about")
          .col-sm-7
            h2.post-title Settori di attività
            p Il coordinamento generale delle attività produttive è curato personalmente dai soci proprietari Ing. Vito Aiello, presso la sede operativa di Verona e Ing. Claudio Zifferero, presso la sede operativa di Roma.

            p Il coinvolgimento diretto del personale operativo e la sua responsabilizzazione nella gestione delle singole commesse garantisce elevata qualità e affidabilità del prodotto, semplicità di procedure, estrema flessibilità e rapidità di esecuzione.

            p Si rende concreta la capacità di svolgere direttamente gli incarichi ricevuti, senza necessità di ricorrere a forme di ulteriori affidamenti, ovvia eccezion fatta per consulenze di tipo specialistico, per le quali è disponibile una vasta gamma di figure di riferimento, di elevato livello scientifico e professionale.

            p Le attrezzature informatiche sono moderne e funzionali, e si è in grado di lavorare secondo i più avanzati standard di qualità, nel pieno rispetto delle normative tecniche vigenti.

            p La Società è consulente qualificata e convenzionata con Snamprogetti SpA per le problematiche inerenti la progettazione ferroviaria e stradale per le tratte ferroviarie ad Alta Velocità Milano Bologna e Milano-Verona, e con Fiat Engineering Spa, ora Maire Engineering, per la tratta Torino-Milano. Ha svolto numerosi incarichi relativi a tutte le fasi progettuali: fattibilità, preliminari, definitivi, esecutivi e costruttivi.

            p Per le progettazioni relative all’Alta Velocità si è ottenuto il gradimento da parte di Italferr necessario per potere sviluppare i Progetti Costruttivi.

            p Ha inoltre ottenuto nel 2004 l'inserimento nell'albo fornitori di RFI per la categoria dei prestatori di servizi di ingegneria e da parte di CSA la certificazione del sistema di qualità secondo la ISO 9001:2000 per quanto riguarda la "Progettazione e servizi di ingegneria per opere di ingegneria civile pubblica e privata".
