section.about
  .container
    .row
      .col-sm-5.hidden-xs
        h2.section-title S.TE.P.
        .about__image
          img(src="img/foto/2.jpg", alt="about")
      .col-sm-7
        h3.section-subtitle About the agensy
        p S.TE.P. Servizi, Tecnologie e Progetti S.r.l., è una società di progettazione e di servizi per l'ingegneria con sedi operative in Roma e Verona, operante in tutti i campi dell'ingegneria civile, strutturale, infrastrutturale, impiantistica, ambientale e nelle valutazioni tecnico-economiche degli investimenti, che basa la propria attività sulle qualifiche professionali e sull'esperienza delle sue componenti umane.
