section.portfolio
  .container
    h2.portfolio__title CERTIFICATI DI QUALITA
    span.portfolio__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel lectus ut mauris convallis lacinia dapibus sit amet neque. 
    .row
      .col-sm-3.col-sm-push-2
        a(href="img/cert_1.jpg").portfolio__cert-link
          img(src="img/cert_1.jpg", alt="Primo cert").portfolio__cert-img
      .col-sm-3.col-sm-push-4
        a(href="img/cert_2.jpg").portfolio__cert-link
          img(src="img/cert_2.jpg", alt="Sec cert").portfolio__cert-img
