footer.mainfooter
  .mainfooter__top-line
  .mainfooter__top-titles
    .container
      .row
        .col-md-3.col-sm-6.hidden-xs
          h4.mainfooter__title Navigation
        .col-md-3.col-sm-6
          h4.mainfooter__title Information
        .col-md-3.hidden-sm.hidden-xs
          h4.mainfooter__title Contact
        .col-md-3.hidden-sm.hidden-xs
          h4.mainfooter__title Maps
  .mainfooter__top
    .container
      .row
        .col-md-3.col-sm-6
          ul.mainfooter__list
            each item in ['Happy Clients', 'Portfolio', 'Blogs', 'Contact Us']
              li.mainfooter__list-item
                a(href="#").mainfooter__list-link= item
        .col-md-3.col-sm-6
          ul.mainfooter__list
            each item in ['About Us', 'Delivery Information', 'Privacy Policy', 'Terms & Condition']
              li.mainfooter__list-item
                a(href="#").mainfooter__list-link= item
        .col-md-3.col-sm-6
          span.mainfooter__contact A: 48/16 Royal lok, Anita, USA
          span.mainfooter__contact T: (84) 169. 275. 9059
          span.mainfooter__contact E: Cavoicat@gmail.com
          span.mainfooter__contact Y!: cavoicat@yahoo.com
        .col-md-3.col-sm-6
          .mainfooter__map <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22396.166558890698!2d10.929670538215058!3d45.439159979100616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4781e19412eeca07%3A0x7ee44d4952200225!2sPiazza+Risorgimento%2C+17%2C+37139+Verona+VR%2C+Italy!5e0!3m2!1sen!2s!4v1493967568294" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    
  .mainfooter__bottom
    .container
      .mainfooter__bottom-inner
        .logo
          img(src="img/logo.png", alt="Logo")
        .mainfooter__copy Copyright © 2017. All rights reseved
        a(href="#").btn.btn--square
          span
            +icon('arrow-up')
