header.mainheader
  .top-line
    .container
      .top-line__left
        ul.socials.top-line__socials
          li.socials__item
            a(href="#").socials__link
              +icon('google')
          li.socials__item
            a(href="#").socials__link
              +icon('twitter')
          li.socials__item
            a(href="#").socials__link
              +icon('facebook-with-circle')
      .top-line__right
        ul.contacts.top-line__contacts
          li.contacts__item
            a(href="#").contacts__link
              +icon('phone')
              span.contacts__link-text + (84). 169. 275. 9059
          li.contacts__item
            a(href="#").contacts__link
              +icon('mail')
              span.contacts__link-text cavoicat@gmail.com
  .container
    .mainheader__inner
      .logo
        img(src="img/logo.png", alt="Logo")
      a(href="#").btn--navigation-toggle
        span
      ul.main-nav
        each item in ["l'azienda", 'Settori', 'opere principali', 'qualita', 'contatti']
          li.main-nav__item
            a(href="#").main-nav__link= item

  .banner
    .container
      ul.banner__list
        each item in [1, 2]
          li.banner__item
            a(href="#").banner__link
              .banner__info
                span.banner__title autostrada a4 - 
                span.banner__description.hidden-xs Strada provinciale nr 46 (ex SS46) del Pasubio 
