//- Mixin for using svg sprite
mixin icon(name, mod)
  -mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="img/svg/sprite.svg#" + name)

//- Mixin for the portfolio item
mixin portfolio(title, text, img_urls, category)
  div(class="col-md-3 col-sm-4 col-xs-6 mix " + category)
    .portfolio__item
      a(href="#").portfolio__link
        .portfolio__info 
          span= title
        img(src="" + img_urls[0], alt="").portfolio__img
        
        .portfolio__item-descr
          .portfolio__img-box
            each ln in img_urls
              img(src="" + ln, alt="").gallery-item
          h4= title
          p= text
