section.portfolio
  .container
    h2.portfolio__title ALCUNE OPERE
    span.portfolio__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel lectus ut mauris convallis lacinia dapibus sit amet neque. 
    ul.portfolio__filters
      li.portfolio__filters-item
        a(href="#", data-filter="all").btn.btn--filters.btn--active Tutte
      li.portfolio__filters-item
        a(href="#", data-filter=".ferrovie").btn.btn--filters Ferrovie
      li.portfolio__filters-item
        a(href="#", data-filter=".strade").btn.btn--filters Strade
      li.portfolio__filters-item
        a(href="#", data-filter=".idraulica").btn.btn--filters Idraulica
        
    .portfolio__list
      .row
        +portfolio('Autostrada A31 Valdastico sud...', 'Progetto costruttivo e di variante del lotto 15 n° 15 cavalcavia, 10 sottovia e 5km di bretella autostradale.', ['img/lavori/c32_1.jpg'], 'ferrovie')
        +portfolio('Linea ad alta velocità Milano - Bologna...', '', ['img/lavori/insb.jpg'], 'strade')
        +portfolio('Strada provinciale SP5...', '', ['img/lavori/masera_1.jpg'], 'idraulica')
        +portfolio('Strada provinciale SP5...', '', ['img/lavori/sp5_5.jpg'], 'strade idraulica')
        +portfolio('Autostrada A31 Valdastico sud...', '', ['img/lavori/c32_1.jpg'], 'idraulica')
        +portfolio('Linea ad alta velocità Milano - Bologna...', '', ['img/lavori/insb.jpg'], 'ferrovie strade')
        +portfolio('Strada provinciale SP5...', '', ['img/lavori/masera_1.jpg'], 'idraulica')
        +portfolio('Strada provinciale SP5...', '', ['img/lavori/sp5_5.jpg'], 'strade idraulica')

      a(href="#").btn Vedi Tutte
