section.services#settori
  .container
    .row
      .col-md-9
        p.services__text.services__text--current Studi generali di viabilità. Tracciamento assi stradali e svincoli. Opere civili del corpo stradale. Opere d’arte maggiori (gallerie naturali e artificiali, viadotti, cavalcavia, sottovia, attraversamenti etc.).
        p.services__text Redazione di progetti di opere di captazione, adduzione e distribuzione di risorse idriche. Progettazione di impianti di sollevamento, collettamento, trattamento, riciclo e riuso di acque. Progettazione di opere di ritenuta o derivazione di acqua (dighe, traverse, gallerie, canali) per l’approvvigionamento idrico o la produzione idroelettrica. Studi idrologici e idrogeologici.
        p.services__text Calcoli strutturali e modellazione con metodi agli elementi finiti di qualsiasi tipo di struttura in cemento armato, in acciaio, in c.a.p. e in legno. Progettazione architettonica di insediamenti urbani, lottizzazioni ed inserimento di grandi infrastrutture nel tessuto circostante. Recupero edilizio e restauri di edifici di importanza storica. 
        p.services__text Messa a punto di sistemi integrati a indirizzo scientifico specialistico. Strutturazione di banche dati, sistemi informatici di monitoraggio, controllo, gestione, incluso l’addestramento all’uso del personale del Cliente. Consulenza sulla scelta e sull’impiego di pacchetti operativi (progettazione, contabilità tecnica, gestione). 
      .col-md-3.hidden-xs.hidden-sm
        .services__header
          h2.section-title Settori
          .services__image
            img(src="img/foto/high.jpg", alt="")
        
    .row
      .col-md-6.col-md-push-3
        ul.services__list
          .col-sm-6
            li.services__item.services__item--current
              a(href="#").services__link
                +icon('road-with-broken-line')
                span Ingegneria dei trasporti
          .col-sm-6
            li.services__item
              a(href="#").services__link
                +icon('tube')
                span Ingegneria idraulica
          .col-sm-6
            li.services__item
              a(href="#").services__link
                +icon('crane')
                span Ingegneria edile
          .col-sm-6
            li.services__item
              a(href="#").services__link
                +icon('icon')
                span Informatica applicata
        .btn-wrap
          span View All
          a(href="#").btn.btn--square
            span
              +icon('darrow-right')
