section.team
  .container
    .row
      .team__photo
        img(src="img/team/team3.jpg", alt="team3")
      .col-md-7.col-md-push-2
        .row
          .col-sm-12
            .team__caption meet our team
          .col-sm-12.team__info
            .team__name Dam Van
            .team__job Co Founder
            p.team__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel lectus ut mauris convallis lacinia dapibus sit amet neque. Praesent scelerisque tellus sit amet ante suscip aliquet magna fringilla. Consectetur adipiscing elit. Proin vel lectus ut mauris convallis lacinia dapibus sit amet neque. Praesent scelerisque tellus sit amet ante suscip aliquet magna fringilla.


          
