@import "bourbon"
@import "vars"
@import "fonts"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html
	height: 100%
	font-size: 16px
	box-sizing: border-box
*, *::before, *::after
	box-sizing: inherit


h1, h2, h3, h4, h5, h6
  color: $main-color

h1
  font-size: 40px

.small, small
  font-size: 10px
  line-height: 1.2


// Basic Text Style

p
	font-size: rem(14px)
	color: $text-color
  margin: 0 0 20px 0

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0
ul,li
	margin: 0
	padding: 0
	list-style-type: none

body
	height: 100%
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.7
	font-family: $default-font
	overflow-x: hidden

.preloader
	position: fixed
	background: #fff
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 999
	.spinner
		+size(40px)
		background: linear-gradient(to bottom, rgba(30,23,6,1) 0%,rgba(114,166,205,0) 75%,rgba(125,185,232,0) 100%)
		position: relative
		top: calc(50vh - 20px)
		left: calc(50vw - 20px)
		border-radius: 50%
		animation: spinner 0.5s linear infinite
		&::after
			position: absolute
			top: 5px
			left: 5px
			content: ''
			+size(30px)
			border-radius: 50%
			background-color: #fff

@keyframes spinner
	from
		transform: rotate(0deg)
	to
		transform: rotate(360deg)

// footer to bottom
.wrapper
	position: relative
	min-height: 100%

header.mainheader
	position: absolute
	top: 0
	left: 0
	width: 100%


footer.mainfooter
	position: absolute
	left: 0
	bottom: 0
	width: 100%

.img-responsive
	display: block
	max-width: 100%
	height: auto

section
	position: relative
	padding-top: 70px
.section-title
	position: absolute
	font-size: rem(25px)
	top: rem(-65px)
	left: rem(15px)
	z-index: 5
	font-family: $title-font
	text-transform: uppercase
	margin: 0
	letter-spacing: 0.5px
	line-height: 1.7
	white-space: nowrap
	&::after
		content: ''
		display: block
		+size(140px)
		border: 9px solid $main-color

.section-subtitle
	margin: 0
	line-height: 1
	white-space: nowrap
	font-size: 21px
	text-transform: uppercase
	color: $accent-color
	font-weight: 400
	margin-bottom: 8px
