.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-arrow-left {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-arrow-right {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-arrow-up {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-chevron-down {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-chevron-left {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-chevron-right {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-chevron-up {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-crane {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-darrow-right {
	font-size:(36/10)*1rem;
	width:(33/36)*1em;
}
.icon-direction {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-dribbble {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-edit {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-eye {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-facebook-with-circle {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-github {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-globe {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-google {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-home {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-icon {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-magnifying-glass {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-mail {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-map {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-note {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-old-phone {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-paper-plane {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-paypal {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-phone {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-pinterest {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-road-with-broken-line {
	font-size:(455.416/10)*1rem;
	width:(455.416/455.416)*1em;
}
.icon-skype {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-thumbs-down {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-thumbs-up {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-train {
	font-size:(532.065/10)*1rem;
	width:(532.065/532.065)*1em;
}
.icon-tube {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-twitter {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-upload-to-cloud {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
